<% include ./partials/header.ejs %>
  <main class="container">
      <!--Main Area-->
      <div class="jumbotron">
        <h1 class="display-4">Welcome to
          <%= title %>
        </h1>
        <p class="lead">This is a simple  <%= title %> unit, a simple jumbotron-style component for calling extra attention to
          featured.</p>         
          <a class="btn btn-primary" href="/customer-list/add" role="button">
            <i class="fa fa-plus-square"></i> New customer sign up </a>
          <br>
          <form action="/feedback" method = "post">

             <fieldset class="style1" style="width: 497px">
              <legend>Login Info</legend>
          
              <table  style="width: 103%">
                <tr>
                  <td class="fieldLebel">User Name:              </td>
                  <td> <input type="text" size="30" placeholder="Enter your email" name="userName"></td>
                </tr>
                <tr>
                  <td class="fieldLebel">Password:</td>
                  <td><input type="password" size="30" placeholder="Enter your password" name="password"></td>
                </tr>
                <tr>
                    <td class="fieldLebel"></td>
                    <td><input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Login" name="submit">
                      <a class="btn btn-primary" href="/signup" role="button">
                        <i class="fa fa-plus-square"></i> Signup </a>
                  </tr>
              </table>
            </fieldset>
              
            
            </form>
         
        <hr class="my-4">
        <p>This utility and content developed by Anupom Roy.</p>
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/anupom-roy/" role="button">Learn more</a>
      </div>  
    </main>
<% include ./partials/footer.ejs %>