
<% include ../partials/header.ejs %>
  <main class="container">
    <!--Main Area-->
    <div class="jumbotron">
      <h1 class="display-4">Welcome to
        <%= title %>
      </h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>

      <form action="/thanku" method="post">

        <fieldset class="style1" style="width: 497px">
          <legend>Fieedback Info</legend>

          <table style="width: 103%">
            <tr>
              <td class="fieldLebel">First Name: </td>
              <td> <input type="text" size="30" name="fname"></td>
            </tr>

            <tr>
              <td class="fieldLebel"> Last Name: </td>
              <td> <input type="text" size="30" name="lname"></td>
            </tr>  

            <tr>
                <td class="fieldLebel"> Favorite Sport: </td>
                <td> <input type="text" size="30" name="lname"></td>
              </tr> 

            <tr>
              <td class="fieldLebel">Email: </td>
              <td> <input id="txtEmail" type="text" size="30" value=<%=Email %> name="txtEmail"></td>
            </tr>

            <tr>
              <td class="fieldLebel">Your Comments</td>
              <td><textarea rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Submit" name="Feedback"></td>
            </tr>
          </table>
        </fieldset>



      </form>

      <hr class="my-4">
      <p>This utility and content developed by Anupom Roy.</p>
      <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/anupom-roy/" role="button">Learn more</a>
    </div>

  </main>


  <% include ../partials/footer.ejs %>